:root {
    --dark-green: #163300;
    --dark-green-2: #bdf39441;
    --light-green: #80e142;
    --lighter-green: #aaf876;
    --weak-green: #cfffb0;
    --white-green: #effae8;
    --white: rgb(240, 240, 240);
}

body {
    background-color: var(--dark-green-2);
    color: var(--dark-green);
}

.container {
    margin-top: 50px;
}

#title-placeholder {
    height: 140px
}

#core {
  background-color: var(--dark-green);
  text-align: center;  
  color: var(--weak-green);
}

#core > p, h3 {
    text-align: left;    
}

section {
    background-color: var(--dark-green);
    color: var(--weak-green);
}

h5 {
    color: var(--lighter-green);
}

.btn:hover {
    background-color: var(--lighter-green);
    color: var(--dark-green);
    border: solid 1px var(--lighter-green);
}


.modal, .modal-backdrop {
    --bs-modal-color: var(--dark-green);
    --bs-modal-bg: var(--white);
    --bs-modal-border-color: var(--dark-green);
}

.btn {
    border: solid 1px var(--weak-green);
    color: var(--weak-green);
    background-color: var(--dark-green);
    outline: none
}

.btnformat {
    border: solid 1px var(--light-green);
    color: var(--dark-green);
    background-color: var(--light-green);
    outline: none
}

#divider {
    width: 100%;
    height: 16px;
  --s: 8px; /* control the size*/
  --c1: var(--dark-green);
  --c2: var(--weak-green);
  
  --c:var(--c1) 0 25%,#0000 0;
  --p:0 0/calc(3*var(--s)) calc(2*var(--s));
  background:
    conic-gradient(from -45deg at 75% 62.5%,var(--c)) var(--p),
    conic-gradient(from 135deg at 25% 37.5%,var(--c)) var(--p),
    repeating-conic-gradient(from 90deg,var(--c),var(--c2) 0 50%)
     0 0/var(--s) var(--s);

}

#divider2 {
    width: 100%;
    height: 16px;
  --s: 8px; /* control the size*/
  --c1: var(--white);
  --c2: var(--dark-green);
  
  --c:var(--c1) 0 25%,#0000 0;
  --p:0 0/calc(3*var(--s)) calc(2*var(--s));
  background:
    conic-gradient(from -45deg at 75% 62.5%,var(--c)) var(--p),
    conic-gradient(from 135deg at 25% 37.5%,var(--c)) var(--p),
    repeating-conic-gradient(from 90deg,var(--c),var(--c2) 0 50%)
     0 0/var(--s) var(--s);

}

.light-green-text {
    color: var(--light-green);
}