:root {
    --dark-red: rgb(44, 1, 25);
    --dark-red2: rgba(44, 1, 25, 0.801);
    --dark-red3: rgba(44, 1, 25, 0.623);
    --light-red: rgb(255, 1, 77);
    --light-red2: rgba(255, 1, 77, 0.801);
    --light-red3: rgba(255, 1, 77, 0.06);
    --light-pink: rgba(197, 97, 130, 0.801);
    --light-pink2: rgba(197, 97, 130, 0.623);
    --light-pink3: rgba(197, 97, 130, 0.1);
}


html, body {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}


body {
    background-color: var(--dark-red);
    /* background: linear-gradient(180deg, #0D0D0D 99%, #ffffff 1%); */
    color: var(--light-red);
    width: 100%;
    font-size: 1em;
}

.navbar {
    background-color: var(--dark-red);
    /* border-bottom: 1px solid var(--light-pink); */


}

.nav-link{
    color: var(--light-pink);
}

.navbar-brand {
    color: var(--light-red);
    font-weight: 600;
    font-size: 1.2em;
}

:root {
  --light-red: rgb(255, 1, 77);
}

.navbar-toggler {
  /* Set the border color using your variable */
  border-color: var(--light-red);
}

.navbar-toggler-icon {
  /* We replace the stroke color with %23FF014D (your rgb color in hex) */
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FF014D' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  
  background-image: var(--bs-navbar-toggler-icon-bg);
}


.sec:active, 
.sec:focus {
    border: 1px solid var(--light-red) !important;
}

#interestinghalf{
    color: var(--light-red);
}

#introduction {
    /* height: 40vh; */
    font-size: 1.6em;
    color: var(--light-pink);
    height: 100vh;
    width: 100%;

}

#introduction h1 {
    font-size: 2.4em;
    color: var(--light-red);
    font-weight: 800;
    font-style: normal;
    text-shadow: rgba(255, 1, 77, 0.308) 3px 3px 3px;
}
#introduction h2 {
    font-size: 1.3em;
    color: var(--light-red);
    /* font-family: "Ultra", sans-serif; */
    font-weight: 600;
    font-style: normal;
    /* text-shadow: #beb5dc 1px 1px 1px; */
}

#introduction p {
    font-size: 1.3em;
    color: var(--light-red);
    font-weight: 400;
}

.sec {
    background-color: var(--dark-red);
    color: var(--light-red);
    font-size: 0.9em;
    font-weight: 400;
    border: 1px solid var(--light-red);
    /* box-shadow: #CCC 2px 2px 2px; */
}

.sec:hover {
    background-color: var(--light-red);
    color: var(--dark-red);
    font-size: 0.9em;
    font-weight: 400;
    border: 1px solid var(--light-red);
    box-shadow: rgba(255, 1, 77, 0.308) 2px 2px 2px;
}

.sec:focus, .sec:active, .btn:focus, .btn:active {
    background-color: var(--dark-red);
    color: var(--light-red);
    outline: none;
    border: 1px solid var(--light-red);
    box-shadow: none;
}

.sec > a:hover {
    color: var(--dark-red);
    text-decoration: none;
    font-weight: 400;
}

#introduction ul {
    list-style-type: none;
    color: var(--light-red);
    font-size: 0.8em;
    
}

.segment {
    /* height: 50vh; */
    background-color: var(--dark-red);
    color: var(--light-pink);
    scroll-margin-top: 70px;
    border: 1px solid var(--light-pink);
}


#title {
    scroll-margin-top: 70px;
    height: 150px;
    font-size: 300px;
    text-align: left;
    
}

h3 {
    color: var(--light-red);
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 15px;
}

a {
    color: var(--light-red);
    text-decoration: none;
}

a:focus {
    outline: none;
}

.list-group-item {
    padding: 8px;
}

.list-group-item > .row > .col {
    padding: 8px;
}

.modal .list-group-item {
    border-color: var(--light-red);
}

.list-group-item a {
    color: var(--light-red);
    font-style: italic;
    font-weight: 600;
    /* text-shadow: 1px 1px 1px #c489ff; */
}

.list-group-item > a > p {
    color: var(--light-red);
    font-style: italic;
    font-weight: 600;
    text-shadow: none;
}

.list-group {
    --bs-list-group-color: var(--light-red);
    --bs-list-group-bg: var(--dark-red);
    --bs-list-group-border-color: var(--light-red);
}


.modal {
    --bs-modal-bg: var(--dark-red);
    --bs-modal-color: var(--light-red);
    --bs-modal-border-color: var(--light-red);
    --bs-modal-header-border-color: var(--light-red);
    --bs-modal-footer-border-color: var(--light-red);
    
}

.modal-body, .modal-footer, .modal-header {
    color: var(--light-red);
}
.modal-body p {
    color: var(--light-red);
    font-weight: 400;
    
}

#pattern {
    width: 100%;
    height: 10px;
  --s: 6px; /* control the size*/
  --c1: var(--dark-red);
  --c2: var(--light-pink);

  background:
    conic-gradient(at 60% 60%,var(--c1) 75%,#0000 0)
     0 0/calc(5*var(--s)/2) calc(5*var(--s)/2),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%)
     0 0/calc(5*var(--s)) calc(5*var(--s)),
    repeating-conic-gradient(var(--c2) 0 25%,var(--c1) 0 50%)
     0 0/var(--s) var(--s);

}

.pattern {
    height: 99;
    width: 80;
  --s: 6px; /* control the size*/
  --c1: var(--dark-red);
  --c2: var(--light-pink3);

  background:
    conic-gradient(at 60% 60%,var(--c1) 75%,#0000 0)
     0 0/calc(5*var(--s)/2) calc(5*var(--s)/2),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%)
     0 0/calc(5*var(--s)) calc(5*var(--s)),
    repeating-conic-gradient(var(--c2) 0 25%,var(--c1) 0 50%)
     0 0/var(--s) var(--s);

}

