body {
    background-color: rgb(44, 1, 25) !important;
    color: rgb(255, 126, 165);
    color: rgb(255, 1, 77);
    line-height: normal;
}

.alegreya-bold {
    font-family: "Ultra", serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

.navbar-brand {
    color: rgb(255, 1, 77) !important;
}

.accordion {
    --bs-accordion-btn-bg: rgb(44, 1, 25);
    --bs-accordion-btn-color: rgb(255, 1, 77);
    --bs-accordion-active-bg: rgb(44, 1, 25);
    --bs-accordion-active-color: rgb(255, 1, 77);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg: rgb(44, 1, 25);
    --bs-accordion-color: rgba(197, 97, 130, 0.801);
    --bs-accordion-border-color: rgba(197, 97, 130, 0.801);
}


.alegreya {
    font-family: "Ultra", serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.alegreya-slim {
    font-family: "Ultra", serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

h1 {
    font-family: "Ultra", serif;
}

h3 {
    margin-top: 6px;
}

h5 {
    color: rgba(255, 0, 85);
    margin-top: 6px;
    margin-bottom: 0px;
}
p {
    padding: 10px;
    color: rgba(197, 97, 130, 0.801);
    font-size: medium;
}

li {
    list-style-type: none;
    margin-bottom: 6px;
    margin-top: 6px;
    color: rgba(197, 97, 130, 0.801);


}

a, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#play {
    color: rgba(255, 0, 85);
    font-size: 40px;
}

