body {
    background-color: white;
    color:rgb(52, 0, 0);
    font-size: 1em;
    text-align: start;
}

nav > a {
    text-decoration: none;
    font-size: 2em;
    color:rgb(52, 0, 0);
}

.btn {
    background-color: white;
    color: rgb(52, 0, 0);
    border: solid 2px;
    border-color: rgb(94, 2, 2);
    box-shadow: 3px 4px rgba(50, 49, 49, 0.666);
    font-weight: 600;

} 
.btn:hover {
    border-color: rgb(52, 0, 0);
    background-color: rgb(52, 0, 0);
    color: white;
}

p {
 margin-bottom: 3px;
}

h1 {
    margin-bottom: 8px;
}

h3 {
    margin-bottom: 0px;
    margin-top: 24px;
}

h4  {
    margin-top: 24px;
}

li {
    margin-bottom: 6px;
}



.modal {
    --bs-modal-width: 55%;
}


/* ol {
    counter-reset: item;
}

li:before {
    content: counters(item, ".") " ";
    counter-increment: item
} */